package command

type {{ title .Name }}Command struct {
	Meta
}

func (c *{{ title .Name }}Command) Run(args []string) int {
	return 0
}

func (c *{{ title .Name }}Command) Synopsis() string {
	return "{{ .Synopsis }}"
}

func (c *{{ title .Name }}Command) Help() string {
	return "{{ .Help }}"
}
