package command

import (
    "strings"
)

type {{ title .Name }}Command struct {
	Meta
}

func (c *{{ title .Name }}Command) Run(args []string) int {
    // Write your code here
    {{ if ne .DebugOutput "" }}print("{{ .DebugOutput }}"){{ end }}
	return 0
}

func (c *{{ title .Name }}Command) Synopsis() string {
	return "{{ .Synopsis }}"
}

func (c *{{ title .Name }}Command) Help() string {
	helpText := `
{{ .Help }}
`
	return strings.TrimSpace(helpText)
}
