package main

import (
	"github.com/mitchellh/cli"
	"{{ .VCSHost }}/{{ .Owner }}/{{ .Name }}/command"
)

func Commands(meta *command.Meta) map[string]cli.CommandFactory {
	return map[string]cli.CommandFactory{
		{{ range .Commands }}"{{ .Name }}": func() (cli.Command, error) {
			return &command.{{ title .FunctionName }}Command{
				Meta: *meta,
			}, nil
		},
		{{ end }}
		"version": func() (cli.Command, error) {
			return &command.VersionCommand{
				Meta:     *meta,
				Version:  Version,
				Revision: GitCommit,
				Name: Name,
			}, nil
		},
	}
}
