package main

import (
	"os"

	"github.com/codegangsta/cli"
)

func main() {
	app := cli.NewApp()
	app.Name = "{{.Name}}"
	app.Version = Version
	app.Usage = ""
	app.Author = "{{.Author}}"
	app.Email = "{{.Email}}"
    {{if .HasSubCommand}}app.Commands = Commands
    {{else}}app.Action = doMain{{end}}
	app.Run(os.Args)
}

{{if not .HasSubCommand}}
func doMain(c *cli.Context) {
}
{{end}}
